<h1>zurb-foundation-test</h1>

<h3>Links</h3>
<ul>
	<li><%= link_to 'foundation github page', 'https://github.com/zurb/foundation', :target =>'_blank' %></li>
	<li><%= link_to 'foundation documentation', 'http://foundation.zurb.com/docs/', :target =>'_blank' %></li>
	<li><%= link_to 'zurb-foundation-test github page', 'https://github.com/keilmillerjr/zurb-foundation-test', :target =>'_blank' %></li>
</ul>

<h3>Templates</h3>
<p>These templates are copied from <%= link_to 'HTML Templates', 'http://foundation.zurb.com/templates.php', :target => '_blank' %> and are rendered live, as a way to test the foundation gem.</p>
<p>Tesmplates last updated: October 4, 2012</p>
<ul>
	<li><%= link_to 'banded', templates_banded_path %></li>
	<li><%= link_to 'banner', templates_banner_path %></li>
	<li><%= link_to 'blog', templates_blog_path %></li>
	<li><%= link_to 'contact', templates_contact_path %></li>
	<li><%= link_to 'feed', templates_feed_path %></li>
	<li><%= link_to 'grid', templates_grid_path %></li>
	<li><%= link_to 'orbit', templates_orbit_path %></li>
	<li><%= link_to 'sidebar', templates_sidebar_path %></li>
</ul>

<h3>Test Page</h3>
<p>Feel free to use they test layout and view as your own personal testing page.</p>
<ul>
	<li><%= link_to 'test', test_index_path %></li>
</ul>

<p><small>Keil Miller Jr 2012</small></p>